<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="Auth">
            <file>tests/AuthTokenTest.php</file>
            <file>tests/StaffGuardTest.php</file>
            <file>tests/AuthorizeLeakTest.php</file>
            <file>tests/DataScopeTest.php</file>
            <file>tests/CourseScopeIntegrationTest.php</file>
            <file>tests/DashboardTest.php</file>
            <file>tests/ContainerTest.php</file>
            <file>tests/ImageStorageTest.php</file>
            <file>tests/CourseCoverControllerTest.php</file>
            <file>tests/BannerTest.php</file>
        </testsuite>
        <testsuite name="Orm">
            <file>tests/ThinkOrmStackTest.php</file>
            <file>tests/MigrationSafetyTest.php</file>
            <file>tests/RestoreRehearsalTest.php</file>
            <file>tests/QaSchemaIntegrationTest.php</file>
            <file>tests/MapSchemaIntegrationTest.php</file>
            <file>tests/LearningMapServiceIntegrationTest.php</file>
            <file>tests/QuestionServiceIntegrationTest.php</file>
        </testsuite>
        <testsuite name="Home">
            <file>tests/HomeServiceTest.php</file>
        </testsuite>
        <testsuite name="Review">
            <file>tests/ReviewBugsTest.php</file>
            <file>tests/ReviewSchemaIntegrationTest.php</file>
            <file>tests/ReviewServiceIntegrationTest.php</file>
            <file>tests/LearningMapRouteTest.php</file>
        </testsuite>
        <testsuite name="Contract">
            <file>tests/LearnerReminderEvaluationMigrationTest.php</file>
            <file>tests/OrderExpiryTest.php</file>
            <file>tests/LearningActionServiceTest.php</file>
            <file>tests/LearningActionControllerTest.php</file>
            <file>tests/LearningActionProgressRefreshTest.php</file>
            <file>tests/LearningReminderRuleTest.php</file>
            <file>tests/LearningReminderThrottleTest.php</file>
            <file>tests/LearningReminderConcurrencyTest.php</file>
            <file>tests/LearnerNotificationResourceTest.php</file>
            <file>tests/LearningActionLoopIntegrationTest.php</file>
            <file>tests/RateLimitTest.php</file>
            <file>tests/MigrationReleaseGateTest.php</file>
            <file>tests/LearnerControllerTest.php</file>
            <file>tests/RoleControllerTest.php</file>
            <file>tests/CatalogContractTest.php</file>
            <file>tests/PaymentContractTest.php</file>
            <file>tests/OrderCouponTest.php</file>
            <file>tests/ProgressServiceTest.php</file>
            <file>tests/LearnerProfileTest.php</file>
            <file>tests/AssetStorageTest.php</file>
            <file>tests/OrderAdminTest.php</file>
            <file>tests/OrderReadOnlyRouteTest.php</file>
            <file>tests/PermissionOverrideServiceIntegrationTest.php</file>
            <file>tests/StaffOverrideApiTest.php</file>
            <file>tests/RbacScopeTest.php</file>
            <file>tests/FavoriteShareTest.php</file>
            <file>tests/CourseStudentTest.php</file>
            <file>tests/NotificationContractTest.php</file>
            <file>tests/CoursePublishNotifyTest.php</file>
            <file>tests/ActivationCodeTest.php</file>
            <file>tests/CourseFeedbackTest.php</file>
            <file>tests/TokenIndexKickTest.php</file>
            <file>tests/UnreadCounterTest.php</file>
            <file>tests/HomeCacheTest.php</file>
            <file>tests/CourseDeletionTest.php</file>
            <file>tests/ScheduledTaskControllerTest.php</file>
            <file>tests/PaymentConfigServiceTest.php</file>
            <file>tests/PaymentConfigControllerTest.php</file>
            <file>tests/PaymentWhitelistServiceTest.php</file>
            <file>tests/PaymentWhitelistControllerTest.php</file>
            <file>tests/OrderServiceWhitelistTest.php</file>
            <file>tests/ZPayPaymentAdapterTest.php</file>
            <file>tests/PaymentNotifyControllerTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
